<html>
    <head>
        <title>{{.Product.Name}}</title>
     
    </head>

    <header>

            <a href="/">Home</a>
            <a href="/categories">Categories</a>
            <a href="/products">Products</a>
            <a href="/cart" id="cart_link">Cart</a>
            <button onclick="EmptyCart()" id="empty_cart_btn">Empty Cart</button>
            <button onclick="Logout()" style="display: inline-block;" id="logout_button">Logout</button>
            <button onclick="Login()" id="login_btn">Login</button>
        
    </header>

    <body>
        
        {{range .Product.ImagePaths}}
        <img src="{{.}}"/>
        {{end}}
        
        <br/>
        
        <form method="POST" action="/AddToCart">
        
            <h1>{{.Product.Name}}</h1>
            <input type="text" name="id" value="{{.Product.ID}}" style="visibility:hidden;"><br/>


           
            <select name="variant" id="var" onchange="ChangeProductVariant()">
            
                {{range .SuperProduct.Variants}}
                <option value="{{.ID}}">{{.Size}} {{.Unit}} Price: {{.UnitPrice}} MRP: {{.MRP}}</option>
        
            {{end}}
            </select><br/>
   

        <input type="number" name="quantity" placeholder="Quantity"><br/>
        <input type="text" name="comment" placeholder="Comments to add!"><br/>
        
        <input type="submit" name="Add to Cart" value="Add to Cart"><br/>
        <a href="/wishlist?id={{.Product.ID}}">Add to Wishlist!</a>

      
    </form>

   
    {{if .AddedToCart}}
 
    <script> 
    document.onload = function(){
        alert("Product has beed added to your cart!");
    };
    document.write("yes");
    </script>
   
               {{end}}

    <script>
        
        var urlParams = new URLSearchParams(window.location.search);
        var e = document.getElementById("var");
        
        for(var i, j = 0; i = e.options[j]; j++) {
            
            if(i.value == urlParams.get("id")) {
            e.selectedIndex = j;
            break;
         }
}

function ChangeProductVariant(){

    var e = document.getElementById("var");
    var id = e.options[e.selectedIndex].value;

    window.location.href= "/product?id=" + id;

}

            function EmptyCart(){
                document.cookie = "ecommerce_cart= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
                window.location.href= document.location.href;
            }
        
            function Logout(){

                
                document.cookie = "ecommerce_user= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
                window.location.href=document.location.href;
            }

function Login(){
    window.location.href="/login";
}


var cookies = document.cookie;
var array = cookies.split(";");

for (var i=0; i<array.length; i++){
var arr2 = array[i].split("=");

var n = arr2[0].localeCompare("ecommerce_user");
var p = arr2[0].localeCompare(" ecommerce_user");

if(n==-1 || n==1 || p==-1 || p==1){
    var logout_button = document.getElementById("logout_button");
   logout_button.style.display="none";
   var login_btn = document.getElementById("login_btn");
   login_btn.style.display="inline-block";
}


if (n==0 || p==0){
   //add logout button

   var logout_button = document.getElementById("logout_button");
   logout_button.style.display="inline-block";
   var login_btn = document.getElementById("login_btn");
   login_btn.style.display="none";

}

var m = arr2[0].localeCompare(" ecommerce_cart");


var o = arr2[0].localeCompare("ecommerce_cart");
if (m==0 || o==0){
    var arr3 = arr2[1].split("|");
var l = arr3.length;
var cart = document.getElementById("cart_link");
cart.innerHTML = "Cart (" + (l-1) + " )";
var empty_cart_btn = document.getElementById("empty_cart_btn");
    empty_cart_btn.style.display="inline-block";
} else{
    var empty_cart_btn = document.getElementById("empty_cart_btn");
    empty_cart_btn.style.display="none";

}


}
</script>
    </body>
</html>